# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# n8n
POSTGRES_N8N_SCHEMA=
N8N_ENCRYPTION_KEY=

# OpenAI
OPENAI_API_KEY=

# Budibase
BB_ADMIN_USER_EMAIL=
BB_ADMIN_USER_PASSWORD=

# RentManager
RENTMANAGER_USERNAME=
RENTMANAGER_PASSWORD=

# General app stuff
POSTGRES_APP_SCHEMA=
